<%- include('../partials/header.ejs') %>
<section class="wn__product__area brown--color pt--80  pb--30">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section__title text-center">
          <h2 class="title__be--2">Search <span class="color--theme">Books</span></h2>
          <!--
          <form action="/books" method="GET">
          <div class="form-row">
            <div class="form-item">
              <label>Published After</label>
              <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
            </div>
            <div class="form-item">
              <label>Published Before</label>
              <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
            </div>
          </div>
          <div class="form-row form-row-end">
            <button class="btn btn-primary" type="submit">Search</button>
          </div>
          </form>
          -->
        </div>
      </div>
    </div>
  </div>
</section>


<!--
<h2 class="page-header">Search Book</h2>
<form action="/books" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Title</label>
      <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label>Published After</label>
      <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
    </div>
    <div class="form-item">
      <label>Published Before</label>
      <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>
-->
<%- include('../partials/grid', { books: books, large: true }) %>