<section class="wn__product__area brown--color pt--80  pb--30">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section__title text-center">
          <h2 class="title__be--2">Search <span class="color--theme">Authors</span></h2>
          <form action="/authors" method="GET"></form>
          <div class="form-row">
            <div class="form-item">
              <label>Name</label>
              <input type="text" name="name" value="<%= searchOptions.name %>">
            </div>
          </div>
          <div class="form-row form-row-end">
            <button class="btn btn-primary" type="submit">Search</button>
          </div>
        </form>

        </div>
      </div>
    </div>
  </div>
</section>



<h2 class="page-header">Search Authors</h2>
<form action="/authors" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label>Name</label>
      <input type="text" name="name" value="<%= searchOptions.name %>">
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>
<br>
<% authors.forEach(author => { %>
  <div class="author-row">
    <div class="author-name"><%= author.name %></div>
    <div class="btn-row">
      <a class="btn btn-primary" href="/authors/<%= author.id %>">View</a>
      <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
      <%- include('../partials/delete', { url: `/authors/${author.id}` }) %>
    </div>
  </div>
<% }) %>